<div id="final-matching-app" class="col s12">
    <table class="centered">
        <thead>
        <tr>
            <th></th>
            <th >SKU</th>
            <th>EAS</th>
            <th>COMPETITOR</th>
            <th>STATUS</th>

        </tr>
        </thead>

        <tbody>
        <tr v-for="final_data in matching_data">
            <td>
                <a class="waves-effect waves-light material-icons modal-trigger" href="#edit-matching-modal"
                   v-on:click="show_redactor_matching(final_data)"
                >border_color</a>
            </td>
            <td>{( final_data.sku_dict__name )}</td>
            <td>{( final_data.eas_dict__tn_fv)}</td>
            <td>{( final_data.number_competitor )}</td>
            <td>{( final_data.name_binding)}</td>

        </tr>
        </tbody>
    </table>
    {% include 'manual_matching/edit.html' %}
</div>

