<div id="filters-app">
    <div class="row">
        <!-- START ФИЛЬТР ПО НСКЗ -->
        <div class="col s4">
            <div class="input-field col s4">
                <select id="sku-filter-form"
                        v-model="type_sku_filter">
                    <option value="" disabled selected>Выберите поле</option>
                    <option value="1">Штрихкод</option>
                    <option value="2">Наименование</option>
                </select>
                <label>SKU</label>
            </div>
            <div class="input-field col s5">
                <input placeholder="" id="sku-filter" type="text" class="validate"
                       v-model="sku_filter_line" @input="filter_sku">
                <label for="sku-filter">Поиск НСКЗ</label>
            </div>
        </div>
        <!-- END ФИЛЬТР ПО НСКЗ -->

        <!-- START ФИЛЬТР ПО ШТРИХКОДУ -->
        <div class="col s2 offset-s2">
            <div class="input-field col s12">
                <input placeholder="По полю ШК НСКЗ" id="barcode" type="text" class="validate"
                       v-model="barcode" @input="filter_barcode">
                <label for="barcode">Штрих код</label>
                <div class="drop-menu"
                     v-if="drop_menu_status.barcode">
                    <ul class="collection with-header">
                        <li class="collection-item"
                            v-for="data in filter_lines.barcode"
                            v-html="data.sku_dict__nnt"
                            v-on:click="change_drop_menu_status(data.sku_dict__nnt, 1)"></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END ФИЛЬТР ПО ШТРИХКОДУ -->

        <!-- START ФИЛЬТР ПО НОМЕНКЛАТУРЕ -->
        <div class="col s2">
            <div class="input-field col s12">
                <input placeholder="По части строки номенклатуры" id="tn_fv" type="text" class="validate"
                       v-model="tn_fv" @input="filter_tn_fv">
                <label for="tn_fv">Номенклатура</label>
                <div class="drop-menu"
                     v-if="drop_menu_status.tn_fv">
                    <ul class="collection with-header">
                        <li class="collection-item"
                            v-for="data in filter_lines.tn_fv"
                            v-html="data.eas_dict__tn_fv"
                            v-on:click="change_drop_menu_status(data.eas_dict__tn_fv, 2)"></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END ФИЛЬТР ПО НОМЕНКЛАТУРЕ -->

        <!-- START ФИЛЬТР ПО ПРОИЗВОДИТЕЛЮ -->
        <div class="col s2">
            <div class="input-field col s12">
                <input placeholder="По полю Производитель" id="manufacturer" type="text" class="validate"
                       v-model="manufacturer" @input="filter_manufacturer">
                <label for="manufacturer">Производитель</label>
                <div class="drop-menu"
                     v-if="drop_menu_status.manufacturer">
                    <ul class="collection with-header">
                        <li class="collection-item"
                            v-for="data in filter_lines.manufacturer"
                            v-html="data.eas_dict__manufacturer"
                            v-on:click="change_drop_menu_status(data.eas_dict__manufacturer, 3)"></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END ФИЛЬТР ПО ПРОИЗВОДИТЕЛЮ -->
    </div>
    <div class="row">
        <div class="col s2 offset-s10">
            <a class="waves-effect waves-light btn-small float-right"
               v-on:click="reset_filter">
                Сброс</a>
        </div>
    </div>
</div>
