{% extends 'index.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'manual_matching/css/manual_matching.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col s4 offset-s8">
        {% include 'number_competitor.html' %}
        </div>
        <div class="col s2 f-ml">
        </div>
        <div class="col s12">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#manual-matching" class="active">Подтверждение мэтчинга</a></li>
                    <li class="tab final"><a href="#final-matching">Ручной мэтчинг</a></li>
                </ul>
            </div>
        </div>
        <div id="manual-matching">
            {% include 'manual_matching/manual_filters.html' %}
            {% include 'manual_matching/manual.html' %}
        </div>
        <div id="final-matching">
            {% include 'manual_matching/final_filters.html' %}
            {% include 'manual_matching/final.html' %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'manual_matching/js/manual_matching_app.js' %}"></script>
<script src="{% static 'manual_matching/js/final_matching_app.js' %}"></script>
<script src="{% static 'manual_matching/js/filters_app.js' %}"></script>
<script src="{% static 'manual_matching/js/final_filters_app.js' %}"></script>
{% endblock %}