{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container">
            <div class="row">
                <div id="auto_matching_app" class="col s8">
                    <div class="col s6 f-mt">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Авто-мэтчинг</span>
                                <p>Запуск мэтчинга SKU с помощью алгоритма</p>
                            </div>
                            <div class="card-action">
                                <div id="">
                                    <button class="btn waves-effect waves-light f-mt f-mb" type="submit"
                                            v-on:click="send_data_on_joint()">Смэтчить
                                        <i class="material-icons right">autorenew</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 f-mt">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Параметры</span>
                                <p>
                                    <label>
                                        <input type="checkbox" v-model="action"/>
                                        <span>По акции</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" v-model="barcode_match"/>
                                        <span>Доверять ШК</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" v-model="new_sku_status"/>
                                        <span>СКУ</span>
                                    </label>
                                </p>
                            </div>
                            <div class="card-action">
                                <div class="input-field" v-show="new_sku_status">
                                    <select v-model="new_sku">
                                        <option value="" disabled selected>Choose your option</option>
                                        <option v-for="date in new_sku_dates"
                                                >{( date.create_date )}</option>
                                    </select>
                                    <label>По дате добавления СКУ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4 f-mt">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Справочники</span>
                            {% include 'number_competitor.html' %}
                        </div>
                        <div class="card-action">
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'auto_matching/js/auto_matching.js' %}"></script>
{% endblock %}
