<div class="container-fluid joint-header-list mt-md-1">
	<div class="row p-md-3">
		<div class="col-md-12 align-items-center">
			<ul class="list-group list-group-horizontal">
				<li class="list-group-item col-md-2">
					<select id="model_name" class="form-control">
						{% for competitor in competitors %}
							<option selected value="{{competitor.customer_id}}">{{ competitor.customer_name }}</option>
						{% endfor %}
					</select>
				</li>
				<li class="list-group-item col-md-4">
					<input class="form-control form-control-sm form-search-model h-100" type="text" placeholder="Поиск по клиентскому справочнику">
				</li>
				<li class="list-group-item col-md-2">
					<input class="form-control form-control-sm h-100" type="text" placeholder="Кол-во записей" id="form-count">
				</li>
				<li class="list-group-item col-md-2">
					<button type="button" class="btn btn-outline-secondary w-100" id="btn-joint-all">Состыковать всё</button>
				</li>

				<li class="list-group-item col-md-2">
					{% if request.user.profile.access_level.level == 777 %}
					<button type="button" class="btn btn-outline-danger w-100" id="btn-joint-delete-all">Очистить</button>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="alert-joint text-center invisible" id="alert-success-joint">
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				Стыковка завершена!
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div class="alert-joint text-center invisible" id="alert-fail-joint">
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				Ошибка стыковки!
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div class="col-md-12 joint-list">
			<ul class="list-group list-a">
				{% for joint in joints %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="fixed-bottom">
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-info btn-joint-filter-send float-right" id="btn-joint-all">Состыковать</button>
			</div>
		</div>
	</div>
</div>