$fedor-classic-1: #ebebeb !default;

.drop-menu{
    display: block;
    position: absolute;
    background-color: $fedor-classic-1;
    width: 90%;
    z-index: 999;
    overflow: auto;
}

.drop-menu{
    background-color: #fff !important;
}

.drop-menu ul li{
    cursor: pointer;
}

.f-preloader{
    display: block;
    position: fixed;
    top: 30%;
    min-width: 100%;
    min-height: 100%;
    z-index: 999;

}

.f-preloader .container{
    background-color: #FFFFFF !important;
    padding: 50px;
    border-radius: 10px;
    opacity: 100%;
}

.fedor-font-change{
    width: 100px;
    border-color: #FFFFFF !important
}


.fedor-menu{
    position: fixed;
    top: 0%;
}

.fedor-schedule-form{
    margin-top: 20%;
}



.fedor-schedule-menu{
    position: fixed;
    top: 30%;
}

.fedor-schedule-menu th{
    padding: 5px 10px;
    border-bottom: 1px solid #e0e0e0;

}

.fedor-schedule-menu a{
    padding-left: 10px;
    text-decoration: none;
    color: #26a69a;
    font-size: 14px;
}

.fedor-schedule-menu th:hover{
    background-color: #e0e0e0;
}
.fedor-schedule-menu h6{
    background-color: #26a69a !important;
    color: #eafaf9; padding: 17px;
}

.fedor-status-task{
    -webkit-animation: fedor-status-task 3s linear infinite;
    animation: fedor-status-task 3s linear infinite;
}
@-webkit-keyframes fedor-status-task {
  0% { color: rgba(255, 171, 0, 1); }
  50% { color: rgba(255, 171, 0, 0); }
  100% { color: rgba(255, 171, 0, 1); }
}
@keyframes fedor-status-task {
  0% { color: rgba(255, 171, 0, 1); }
  50% { color: rgba(255, 171, 0, 0); }
  100% { color: rgba(255, 171, 0, 1); }
}

.fedor-table .collection-item a{
    text-decoration: none !important;
    color: #26a69a !important;
}

@import "../../fw/materialize-src/sass/materialize.scss";