{% extends 'index.html' %}
{% load static %}
{% block content %}
<div id="test">
    <div class="row f-mt-2">
        <div class="col s12">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#status-matching" class="active">Накопления по статусам мэтчинга</a></li>
                    <li class="tab"><a href="#final-matching">Виды изменения статусов</a></li>
                    <li class="tab"><a href="#final-matching">Измененные статусы пользователем</a></li>
                    <li class="tab"><a href="#final-matching">Рейтинг пользователей</a></li>
                    <li class="tab"><a href="#final-matching">Необработанные</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div id="status-matching">
        <div class="row">
            <div class="col s8">
                <line-bar-status-matching v-bind:statistic="datasets"></line-bar-status-matching>
            </div>

        </div>
        <div class="row">
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="start_date">
            </div>
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="end_date">
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn-small" v-on:click="status_matchings">Показать</a>
            </div>
        </div>
    </div>

    <div id="final-matching">

    </div>

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'fw/chartjs/dist/Chart.min.js' %}"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src="{% static 'analytic/js/statistic.js' %}"></script>
{% endblock %}
