{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col s4 offset-s8">
        {% include 'number_competitor.html' %}
    </div>
</div>
<div id="analytic-graph">
    <div class="row f-mt-2">
        <div class="col s12">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#status-matching" class="active">Накопления по статусам мэтчинга</a></li>
                    <li class="tab"><a href="#status-changes">Виды изменения статусов</a></li>
                    <li class="tab"><a href="#user-status-changes">Измененные статусы пользователем</a></li>
                    <li class="tab"><a href="#user-rating">Рейтинг пользователей</a></li>
                    <li class="tab"><a href="#raw-sku">Необработанные</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Накопления по статусам мэтчинга -->
    <div id="status-matching">
        <div class="row">
            <div class="col s12">
                <line-bar-status-matching v-bind:statistic="datasets_status_mathing"></line-bar-status-matching>
            </div>

        </div>
        <div class="row">
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="start_date">
            </div>
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="end_date">
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn-small" v-on:click="status_matchings">Показать</a>
            </div>
        </div>
    </div>

    <!-- Виды изменения статусов -->
    <div id="status-changes">
        <div class="row">
            <div class="col s12">
                <line-status-changes v-bind:statistic="data_collection_status_change"></line-status-changes>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="start_date">
            </div>
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="end_date">
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn-small" v-on:click="status_changes">Показать</a>
            </div>
        </div>
    </div>

    <!-- Измененные статусы пользователем -->
    <div id="user-status-changes">
        <div class="row">
            <div class="col s12">
                <line-bar-status-matching  v-bind:statistic="datasets_status_change"></line-bar-status-matching >
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="start_date">
            </div>
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="end_date">
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn-small" v-on:click="user_status_changes">Показать</a>
            </div>
        </div>
    </div>

    <!-- Рейтинг пользователя -->
    <div id="user-rating">
        <div class="row">
            <div class="col s12">
                <bar-user-rating  v-bind:statistic="data_collection_user_rating"></bar-user-rating>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="start_date">
            </div>
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="end_date">
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn-small" v-on:click="user_rating">Показать</a>
            </div>
        </div>
    </div>

    <!-- Необработанные -->
    <div id="raw-sku">
        <div class="row">
            <div class="col s12">
                <bar-raw-sku  v-bind:statistic="data_collection_raw_sku"></bar-raw-sku>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="start_date">
            </div>
            <div class="col s3">
                <input type="text" class="datepicker col s3" v-model.lazy="end_date">
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn-small" v-on:click="raw_sku">Показать</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

    <script src="{% static 'fw/chartjs/dist/Chart.min.js' %}"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src="{% static 'analytic/js/statistic.js' %}"></script>

{% endblock %}
