{% extends "index.html" %}
{% block title %}Страница авторизации{% endblock %}
{% block content %}
	<div class="container" style="margin-top: 10%;">
		<div class="row">
			<div class="col s12 text-center">
				<h5>Авторизация</h5>
			</div>
		</div>
		<div class="row">
			<div class="col s8 offset-s4">
				<form method="post" action="{% url 'auth_fedor:user_login' %}?next={{next}}">
					{% csrf_token %}
					<div class="row">
						<div class="input-field col s6">
						  	<input placeholder="Логин" id="login" type="text" class="validate" name="username">
						  	<label for="login">Логин</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
						  	<input placeholder="Пароль" id="password" type="password" class="validate" name="password">
						  	<label for="password">Пароль</label>
							{% if error %}
								<p>{{ error }}</p>
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col s2">
							<button type="submit" class="btn btn-primary">Войти</button>
						</div>
						<div class="col s3 offset-s2">
							<a href="{% url 'admin_panel:show_registration_page' %}" type="submit" class="btn btn-primary">Регистрация</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
{% endblock %}
