<div class="row">
    <div class="col fedor-schedule-menu">
        <!--<table>
            <h6 class="text-center f-mb">Планировщик задач</h6>
            <thead>
                <tr>
                    <th><a href="{% url 'admin_panel:schedule_list' %}">ВРЕМЯ ЗАПУСКА</a></th>
                    <th><a href="{% url 'admin_panel:schedule_add_page' %}">ДОБАВИТЬ</a></th>
                </tr>
                <tr>
                    <th><a href="{% url 'admin_panel:task_schedule_list_page' %}">ЗАДАЧИ</a></th>
                    <th><a href="{% url 'admin_panel:task_add_page' %}">ЗАПЛАНИРОВАТЬ</a></th>
                </tr>
            </thead>
        </table>-->
        <ul class="collection with-header">
        <li class="collection-header text-center"><h6>Планировщик задач</h6></li>
        <li class="collection-item">
            <div>
                <a href="{% url 'admin_panel:schedule_list' %}">ВРЕМЯ ЗАПУСКА</a>
                <a href="{% url 'admin_panel:schedule_add_page' %}" class="secondary-content"><i class="material-icons">add</i></a>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <a href="{% url 'admin_panel:task_schedule_list_page' %}">ЗАДАЧИ</a>
                <a href="{% url 'admin_panel:task_add_page' %}" class="secondary-content"><i class="material-icons">add</i></a>
            </div>
        </li>
      </ul>
    </div>
</div>

{% block script %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
    var collapsible = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(collapsible);
  });
</script>
{% endblock %}
