{% load static %}
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
              <div class="background">
                <img src="{% static 'fedor/media/6.jpg' %}">
              </div>
              <a href="#!user"><img class="circle" src="{% static 'fedor/media/FEDOR2.png' %}" style="height: 40%; width: 40%;"></a>
              <a href="#!name"><span class="white-text name">{{ request.user.profile.access_level.level_name }}</span></a>
              <a href="#!email"><span class="white-text email">{{ request.user.first_name }} {{ request.user.last_name }}</span></a>
        </div>
    </li>
    {% if request.user.is_authenticated %}
        {% if request.user.profile.access_level.level == 1 or request.user.profile.access_level.level == 2 or request.user.profile.access_level.level == 3 %}
            <li><a href="{% url 'show_auto_matching_page' %}"><i class="material-icons">autorenew</i>АВТО-МЭТЧИНГ</a></li>
        {% else %}
            <li><a class="subheader"><i class="material-icons">autorenew</i>АВТО-МЭТЧИНГ</a></li>
        {% endif %}
    <li><a href="{% url 'manual_matching:show_manual_matching_page' %}"><i class="material-icons">border_color</i>РУЧНОЙ-МЭТЧИНГ</a></li>
    {% if request.user.profile.access_level.level == 1 or request.user.profile.access_level.level == 2 or request.user.profile.access_level.level == 3 %}
        <li><a href="{% url 'analytic_page' %}"><i class="material-icons">trending_up</i>АНАЛИТИКА</a></li>
    {% else %}
        <li><a class="subheader"><i class="material-icons">trending_up</i>АНАЛИТИКА</a></li>
    {% endif %}
    <li><div class="divider"></div></li>
    {% if request.user.profile.access_level.level == 1 %}
        <li class="f-ml"><a class="subheader"></a>Админ панель</li>
        <li><a class="waves-effect" href="{% url 'admin_panel:show_edit_user_page' user_id=request.user.pk %}"><i class="material-icons">supervisor_account</i>РЕДАКТИРОВАНИЕ</a></li>
        <li><a class="waves-effect" href="{% url 'admin_panel:show_registration_page' %}"><i class="material-icons">local_library</i>РЕГИСТРАЦИЯ</a></li>
        <li><a class="waves-effect" href="{% url 'admin_panel:schedule_list' %}"><i class="material-icons">assignment</i>ПЛАНИРОВЩИК</a></li>
    {% endif %}

    <li style="position: absolute; bottom: 15%; width: 100%;"><div class="divider"></div></li>
    <li style="position: absolute; bottom: 10%; width: 100%;">
        <a class="waves-effect" href="{% url 'auth_fedor:user_logout' %}?next={{request.path}}">
            <i class="material-icons">exit_to_app</i>{{ request.user }}
        </a>
    </li>
    {% endif %}
</ul>

<div id="main_menu_app" class="fedor-menu">
    <a href="#" data-target="slide-out" class="sidenav-trigger" v-on:click="show_menu">
        <i class="small material-icons">menu</i>
    </a>
</div>

