<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background text-center">
                MENU
            </div>
        </div>
    </li>
    <li>
        <div class="divider mt-3"></div>
    </li>
    <li><a href="{% url 'show_auto_matching_page' %}"><i class="material-icons">autorenew</i>Авто-мэтчинг</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <div class="divider mt-3"></div>
    </li>
    <li><a href="{% url 'show_manual_matching_page' %}"><i class="material-icons">border_color</i>Ручной-мэтчинг</a></li>
    <li>
        <div class="divider"></div>
    </li>
</ul>
<div id="main_menu_app">
    <a href="#" data-target="slide-out" class="sidenav-trigger" v-on:click="show_menu">
        <i class="small material-icons">menu</i>
    </a>
</div>
